body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

@media (min-width: 768px) {
  #wd-account-screen .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
    border-left: 3px solid black !important;
    color: black;
    background-color: white;
    z-index:1;
  }

  .btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
  .bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
  }
  .list-group-item {
    --bs-list-group-border-color: gray;
  }
  .wd-lesson {
    border-left: 3px solid green !important;
  }

  #wd-course-status .list-group-item {
    padding: 1px;
    margin: 0;
    border: none;
  }

  #wd-course-status .list-group-item .btn {
    width: 100%;
    text-align: left;
    margin: 0;
    
  }

  .wd-individual-assignment {
    border-left: 3px solid green !important;
  }
  
  